NODE_ENV=development
PORT=3005
API_PREFIX=api/v1
APP_NAME=mobicred-console-api
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/mobicred_console
DATABASE_SSL=false
DATABASE_LOGGING=false
CORE_API_URL=https://staging-core.mobicred.net
PAYMENT_GATEWAY_URL=https://staging-gateway.mobicred.net
CREDIT_INTELLIGENCE_URL=https://staging-credit-intelligence.mobicred.net
KEYCLOAK_ISSUER=https://staging-identity.mobicred.net/realms/mobicred-staff
LOG_LEVEL=info
CORS_ORIGINS=http://localhost:3006
